# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
# Compiled root binary
/bot

# Test & coverage
*.out
*.test

# Environment files
.env
.env.local

# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Docker data
data/
mongo_data/
